body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #E7E8ED;
}

.contenedora{
    min-height: 100vh;
    flex: 1;

    display:flex;
    justify-content: space-evenly;
    align-items: start
}
h1{
    font-size: 2em;
    border-bottom: 4px solid #EB984E  ;
    text-align: center;
    padding: 0 15px;
    color:#5D6D7E
}
.form{
    margin:30px 0;
    padding:5px;
    border:3px solid #EB984E ;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 5px
}
.form input{
    border: none;
    font-size: 16px;

    max-width: 150px;
    outline: 0;
    padding: 10px;

    background-color: #a1d1f5;
    color: #64696d;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin: 5px 0;
    border-radius: 3px
}
.boton {
    padding: 10px 20px;
    margin:10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px
}
.boton:hover {
    background-color: #45a049
}
.boton:active{
    background-color: #3e8e41;
}
.formAltaProfesor{
    display: grid;
    grid-template-columns: auto auto; /* Dos columnas de tamaño automático */
    grid-template-rows: 1fr ;/* Distribuye el ancho en dos columnas iguales */
    gap: 20px; /* Espacio entre columnas */

    justify-items: center; /* Centra los elementos horizontalmente */
    align-items:center;
}

.formAltaProfesor button{
    grid-column: span 2; /* El tercer elemento ocupa dos columnas completas */
    justify-self: center; /* Centra el tercer elemento horizontalmente */
}
.formAltaProfesor div{
    margin: 5px;




}
.contenedorAsignaturas{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;


    position: relative;
    bottom:  4.5px


}